<h1>Seat Yourself!</h1>
<h3>This is where you can make your own reservations without the hassle of calling them yourself!</h3>

<h2>Here's a list of all of the resturants!</h2>
<% @restaurants.each do |restaurant| %>
<p><%= restaurant.name %>, <%= restaurant.address %>, <%= restaurant.open_at %>, <%= restaurant.close_at %></p>